.rs-catalog {
  padding-top: 43px;
  padding-bottom: 100px;
}
@media (max-width: 1439.98px) {
  .rs-catalog {
    padding-top: 112px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog {
    padding-top: 81px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog {
    padding-top: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog {
    padding-bottom: 83.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog {
    padding-bottom: 66.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog {
    padding-bottom: 50px;
  }
}
.rs-catalog__banner {
  margin-bottom: 83px;
  min-height: 428px;
  border-radius: 27px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1439.98px) {
  .rs-catalog__banner {
    margin-bottom: 72px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog__banner {
    margin-bottom: 61px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__banner {
    margin-bottom: 50px;
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog__banner {
    min-height: 385.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog__banner {
    min-height: 342.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__banner {
    min-height: 300px;
  }
}
.rs-catalog__banner_wrapper {
  height: 100%;
  color: #fff;
}
.rs-catalog__banner_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-catalog__banner_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-catalog__banner_content {
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1439.98px) {
  .rs-catalog__banner_content {
    padding: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog__banner_content {
    padding: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__banner_content {
    padding: 20px;
  }
}
.rs-catalog__banner_content .rs-breadcrumbs {
  margin: 0;
}
.rs-catalog__banner_desc {
  margin-top: 20px;
}
@media (min-width: 991.98px) {
  .rs-catalog__banner_desc {
    max-width: 54.5%;
  }
}
.rs-catalog__banner_desc h3 {
  letter-spacing: 0.02em;
}
.rs-catalog__banner_desc p {
  margin-top: 20px;
  line-height: 130%;
}
@media (min-width: 991.98px) {
  .rs-catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-catalog__opens {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__opens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .rs-catalog__opens_btn {
    gap: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #000;
  }
}
@media (min-width: 991.98px) {
  .rs-catalog__sidebar {
    grid-column: 2 span;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__sidebar {
    position: fixed;
    z-index: 100000;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 20px 16px;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .filter-open .rs-catalog__sidebar {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item {
  border: 1px solid #e5e5e5;
  border-radius: 27px;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item:not(:last-child) {
  margin-bottom: 20px;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item:first-child > .rs-catalog__spollers_body {
  padding: 0px;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title {
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding: 20px;
  color: #282828;
}
@media (max-width: 1439.98px) {
  .rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title {
    font-size: 14px;
  }
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../img/caret-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title._spoller-active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body {
  padding: 0px 20px 20px;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item:first-child > .rs-catalog__spollers_title {
  border-top: 1px solid #e5e5e5;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item:not(:last-child) > .rs-catalog__spollers_title {
  border-bottom: 1px solid #e5e5e5;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title {
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 20px;
  color: #282828;
}
@media (max-width: 1599.98px) {
  .rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title {
    font-size: 14px;
  }
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_title._spoller-active {
  color: #0776a1;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body {
  padding: 16px 30px;
  border-bottom: 1px solid #e5e5e5;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body ul li:not(:last-child) {
  margin-bottom: 16px;
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #282828;
}
@media (max-width: 1599.98px) {
  .rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body ul li a {
    font-size: 14px;
  }
}
.rs-catalog__sidebar_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body > .rs-catalog__spollers > .rs-catalog__spollers_item > .rs-catalog__spollers_body ul li a._spoller-active {
  color: #0776a1;
}
.rs-catalog__sidebar_body .checkbox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.rs-catalog__sidebar_body .checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.rs-catalog__sidebar_body .checkbox__emulator {
  display: block;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  background-color: var(--color, transparent);
  border: 1px solid var(--color-border, #c9cfda);
  border-radius: 4px;
  margin-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-catalog__sidebar_body .checkbox__emulator::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
      -ms-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-transition: ease-out 0.15s;
  transition: ease-out 0.15s;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-filter: invert(var(--invert, 0));
          filter: invert(var(--invert, 0));
}
.rs-catalog__sidebar_body .checkbox__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #282828;
  cursor: pointer;
}
@media (max-width: 1599.98px) {
  .rs-catalog__sidebar_body .checkbox__label {
    font-size: 14px;
  }
}
.rs-catalog__sidebar_body .checkbox__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
}
.rs-catalog__sidebar_body .checkbox__input:checked ~ .checkbox__emulator {
  background-color: var(--color, #0776a1);
  border-color: var(--color-border, transparent);
}
.rs-catalog__sidebar_body .checkbox__input:checked ~ .checkbox__emulator::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.rs-catalog__sidebar_body .checkbox__showmore {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #282828;
}
@media (min-width: 991.98px) {
  .rs-catalog__sidebar_head {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__sidebar_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-catalog__content {
    grid-column: 8 span;
  }
}
.rs-catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1169.98px) {
  .rs-catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__list {
    gap: 20px;
  }
}
@media (max-width: 539.98px) {
  .rs-catalog__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rs-product {
  background: #f0f0f0;
  border-radius: 27px;
  padding: 20px;
}
@media (any-hover: hover) {
  .rs-product:hover .rs-product__img img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.rs-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rs-product__img {
  border-radius: 20px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.rs-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-product__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #282828;
}
.rs-product__desc_head p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.rs-product__desc_footer {
  margin-top: 20px;
}
.rs-product__desc_footer .rs-btn {
  width: 100%;
}
.rs-product__price {
  margin-top: 10px;
}