@import "../base/_mixin";

.rs-product-block {
	padding-bottom: 90px;

	@include responsive-auto(padding-bottom, (90, 50), (1439.98, 1169.98, 991.98));

	// .rs-product-block__container
	&__container {
	}

	// .rs-product-block__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			gap: 30px;

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}
	}

	// .rs-product-block__img
	&__img {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: flex-start;
			flex-direction: row-reverse;
			gap: 30px;
			max-height: 733px;
			grid-column: 6 span;

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}
	}

	// .rs-product-block__slider
	&__slider {
		border: 1px solid #f0f0f0;
		border-radius: 27px;
		overflow: hidden;
		height: 100%;
		width: 100%;

		// .rs-product-block__slider_slider
		&_slider {
			height: 100%;
			width: 100%;
		}

		// .rs-product-block__slider_swiper
		&_swiper {
		}

		// .rs-product-block__slider_slide
		&_slide {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	// .rs-product-block__thumbs
	&__thumbs {
		position: relative;

		@media (min-width: 991.98px) {
			max-width: 130px;
			min-width: 130px;
			width: 100%;
			height: 100%;
			padding: 22px 0px;

			@media (max-width: 1439.98px) {
				max-width: 100px;
				min-width: 100px;
			}
		}

		@media (max-width: 991.98px) {
			display: none;
		}

		// .rs-product-block__thumbs_slider
		&_slider {
			height: 100%;
			width: 100%;
		}

		// .rs-product-block__thumbs_swiper
		&_swiper {
		}

		// .rs-product-block__thumbs_slide
		&_slide {
			border: 1px solid #f0f0f0;
			border-radius: 27px;
			overflow: hidden;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	// .rs-product-block__button-prev
	&__button-prev,
	&__button-next {
		width: 12px;
		height: 12px;
		top: 0;
		margin-top: 0px;
		position: absolute;
	}

	&__button-prev {
		top: 0;
		bottom: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	&__button-next {
		bottom: 0;
		top: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	// .rs-product-block__button-next
	&__button-next {
	}

	// .rs-product-block__desc
	&__desc {
		@media (min-width: 991.98px) {
			grid-column: 4 span;
		}

		@media (max-width: 991.98px) {
			margin-top: 20px;
		}

		h3 {
			margin-bottom: 32px;
			letter-spacing: 0px;

			@include responsive-auto(margin-bottom, (32, 20), (1439.98, 1169.98, 991.98));
		}

		h6 {
			font-weight: 600;
			font-size: 16px;
			// line-height: 16px;
			line-height: 100%;
			color: #0b1525;
			margin-bottom: 10px;

			@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));
		}

		.select {
			position: relative;
			z-index: 100;
			margin: 20px 0px;

			// .select__body
			&__body {
				position: relative;
			}

			// .select__title
			&__title {
				width: 100%;
				color: inherit;
				text-align: left;
				background-color: transparent;
				cursor: pointer;
			}

			// .select__value
			&__value {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				border: 1px solid #dedede;
				border-radius: 20px;
				padding: 20px 16px;
				font-weight: 600;
				font-size: 16px;
				// line-height: 16px;
				line-height: 100%;
				color: #0b1525;

				@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));

				&:after {
					content: "";
					display: block;
					background-image: url("../img/caret-up.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					transition: all 0.3s ease 0s;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					transform: rotate(180deg);
				}

				&._select-pseudo-label {
					&::before {
						content: attr(data-pseudo-label);
					}
				}

				.select__content {
					display: none;
				}
			}

			// .select__options
			&__options {
				position: absolute;
				top: 100%;
				left: 0;
				border: 1px solid #dedede;
				border-radius: 20px;
				padding: 20px 16px;
				width: 100%;
				background: #fff;
			}

			// .select__scroll
			&__scroll {
				// overflow-y: auto;
				// overflow-x: hidden;
				// // Максимальная высота
				// max-height: 280px;
				// padding-right: 10px;

				// Стили скроллбара
				.simplebar-scrollbar {
					&::before {
						//opacity: 1;
					}
				}
			}

			// .select__option
			&__option {
				width: 100%;
				text-align: left;
				cursor: pointer;
				display: flex;
				align-items: center;
				transition: all 0.3s ease 0s;
				font-weight: 600;
				font-size: 16px;
				// line-height: 16px;
				line-height: 100%;
				color: #0b1525;

				@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));

				&:not(:last-child) {
					margin-bottom: 15px;
				}

				@media (any-hover: hover) {
					&:hover {
						color: var(--primary-color);
					}
				}

				&._select-selected {
					color: var(--primary-color);
				}
			}

			// Состояния селекта
			&._select-open {
				z-index: 5;

				.select__value {
					&:after {
						transform: rotate(0deg);
					}
				}
			}
		}
	}

	&__list {
		margin-bottom: 24px;

		li {
			font-weight: 600;
			font-size: 16px;
			// line-height: 16px;
			line-height: 100%;
			color: #0b1525;
			padding-left: 27px;
			position: relative;

			@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));

			&::before {
				content: "•";
				position: absolute;
				top: 0;
				left: 9px;
				width: 6px;
				height: 6px;
				flex-shrink: 0;
			}

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	// .rs-product-block__color
	&__color {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;

		li {
			padding: 6px;
			position: relative;

			.color {
				// .color__item
				&__item {
					cursor: pointer;
				}

				// .color__input
				&__input {
					position: absolute;
					opacity: 0;
					visibility: hidden;
					font-size: 0px;

					&:checked ~ .color__emulator {
						background-color: var(--color, #0776a1);
						border-color: var(--color-border, transparent);
					}

					&:checked ~ .color__emulator::before {
						opacity: 1;
					}
				}

				// .color__emulator
				&__emulator {
					display: block;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background-color: var(--color, transparent);
					border: 1px solid var(--color-border, transparent);

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						height: 100%;
						border-radius: inherit;
						border: 1px solid #999;
						transform: translate(-50%, -50%);
						opacity: 0;
						transition: opacity 0.3s ease 0s;
					}
				}
			}
		}
	}

	// .rs-product-block__info
	&__info {
		margin-top: 24px;
		border-radius: 27px;
		padding: 20px;
		background: #f0f0f0;

		// .rs-product-block__info_head
		&_head {
			margin-bottom: 24px;
			gap: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 767.98px) {
				flex-direction: column;
			}

			h6 {
				margin-bottom: 0px;
			}

			h3 {
				margin-bottom: 0px;
				line-height: 130%;
			}
		}

		// .rs-product-block__info_btns
		&_btns {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 24px;

			@media (max-width: 1439.98px) {
				flex-direction: column;
				gap: 16px;
			}

			.rs-btn {
				width: 100%;
				padding: 20px 10px;
			}
		}
	}
}
